[submodule "shopping-List"]
	path = shopping-List
	url = https://github.com/tew9/shopping-List.git
[submodule "Background-Generator"]
	path = Background-Generator
	url = https://github.com/tew9/Background-Generator.git
[submodule "Shopping_List"]
	path = Shopping_List
	url = https://github.com/tew9/Shopping_List.git
